body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grafico_1 {
    height: 33vmax;
    width: 47.3vmax;
    border: 10px groove;
    float: left;
}

.grafico_2 {
    height: 33vmax;
    width: 47.3vmax;
    border: 10px groove;
    float: right;
}

.grafico_3 {
    height: 35.5vmax;
    width: 47.3vmax;
    border: 10px groove;
    float: left;
}

.grafico_4 {
    height: 35.5vmax;
    width: 47.3vmax;
    border: 10px groove;
    float: right;
}

