@font-face {
    font-family: 'Archive'; 
    src: url('fonts/Archive.otf');
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    min-width: 500px;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 100vw;
    height: 11vh;
    padding-left: 1.3%;
    background-color: #46B8B0;
    position: fixed;
    z-index: 3;
}

.ancoras{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-left: 11vh;
    margin-right: 11vh;
    top: -10.6vh;
    left: 1vw;
    border-radius: 5px;
}

#logo{
    max-height: 11vh;
    width: auto;
}

#linhaPng, #barraPng, #mapaPng, #pizzaPng{
    height: 9vh;
    position: absolute;
    width: auto;
    z-index: 2;
}

#linhaGif, #barraGif, #mapaGif, #pizzaGif{
    height: 9vh;
    position: absolute;
    width: auto;
    z-index: 2;
    border-radius: 5px;
    opacity: 0;
}

#barraGif:hover, #mapaGif:hover, #pizzaGif:hover, #linhaGif:hover{
    opacity: 1;
    transition: 0.1s;
}

.graficos{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
}

.capa{
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: #FFFFFF;
}

#texto1{
    font-family: Archive;
    font-size: 80px;
    position: relative;
    z-index: 2;
    top: 5vh;
    left: 18vw;
}

#mundo{
    top: 5.5vh;
    left: 25vw;
    right: 18vw;
    height: 60vh;
    width: auto;
    float: right;
    position: relative;
    z-index: 2;
}

.grafico_1{
    width: 100%;
    height: 100%;
    border-top: 3px groove rgba(0,0,0, 0.6);
    border-bottom: 3px groove rgba(0,0,0, 0.6);
    background-color: rgba(54,173,185,0.8);
}

.grafico_1 #Grafico_Linhas_CO2{
    width: 50%;
    height: 100%;
    background-color:rgba(54,173,185,0.1);
    min-width: 500px;
    max-width: 50%;
    margin: 10px;
}

#T_Grafico1{
    float: right;
}

.grafico_2{
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}

.grafico_3{
    width: 70%;
    height: 100%;
    background-color: #02295B;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}

.grafico_4{
    width: 70%;
    height: 100%;
    background-color: red;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}

@media only screen and (max-width: 1300px) {
    #texto1{
        font-family: Archive;
        font-size: 80px;
        z-index: 2;
        position: relative;
        left: 30vw;
    }

    #mundo{
        height: 0vh;
        width: auto;
    }
}