@font-face {
    font-family: 'Archive'; 
    src: url('fonts/Archive.otf');
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    min-width: 500px;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 100vw;
    min-height: 8vh;
    max-height: 11vh;
    align-items: center;
    padding-left: 1.3%;
    background-color: #46B8B0;
    position: fixed;
    z-index: 1;
}

.ancoras{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-left: 11vh;
    margin-right: 11vh;
    top: -10vh;
    left: 1vw;
    border-radius: 5px;
}

#logo{
    max-height: 11vh;
    width: auto;
}

#linhaPng, #barraPng, #mapaPng, #pizzaPng{
    height: 8vh;
    width: auto;
    z-index: 2;
}

#barraGif:hover, #mapaGif:hover, #pizzaGif:hover, #linhaGif:hover{
    opacity: 1;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.capa{
    align-items: center;
    width: 100vh;
    min-height: 50vh;
    max-height: 75vh;
    background-color: #FFFFFF;
    margin-top: 5%;

}

.grafico_1{
    display: flex;
    width: 100%;
    height: 550px;
    background-color: #018586;
}

#texto1{
    font-family: Archive;
    font-size: 80px;
    margin-top: 100px;
    margin-right: 90px;
    margin-left: 90px;
    min-width: 440px;
}

.grafico_2{
    width: 70%;
    height: 100%;
    background-color: green;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}

.grafico_3{
    width: 70%;
    height: 100%;
    background-color: white;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}

.grafico_4{
    width: 70%;
    height: 100%;
    background-color: red;
    border: 10px groove;
    min-width: 500px;
    max-width: 50%;
    margin: 10px
}